---
layout: default
title: Dan Carvajal
---
<section class="container" id="date">
    <h1>Dan and Cassie's Wedding</h1>
    {% include date.html %}
</section>
<section class="container">
    <p>
      Bacon ipsum dolor amet kielbasa turkey capicola, tri-tip prosciutto swine turducken. Biltong tenderloin ham hock short ribs shoulder beef cow
    </p>
</section>
<section class="container" id="location">
    {% include location.html %}
</section>
<section class="container" id="contact">
  {% include new-contact-form.html %}
</section>
