---
layout: default
title: D and C Wedding
---
<section class="container" id="date">
    <h1>Dan and Cassie's Wedding</h1> {% include date.html %}
    <h3>5:30 PM</h3>
</section>
<section class="container">
        <p style="font-size: 2rem;">
            Welcome to the website for our wedding.
        </p>
        <p style="font-size: 2rem;">
          We’re getting married! We look forward to seeing you at our wedding on May 19, 2017 in Washington, DC. Please scroll down to learn more about the venue, lodging, and other wedding logistics.</p>
        <p style="font-size: 2rem;">
          And if you haven’t already, be sure to provide us with your contact information so we can send you your invitation! We’ll also be using your information to send out email updates on the wedding details and any pre- or post-wedding get-togethers.
        </p>
        <p style="font-size: 2rem;">
            -Dan and Cassie
        </p>
</section>
<section class="container" id="location">
    {% include location.html %}
</section>
<section class="container" id="whatToWear">
    {% include what_to_wear.html %}
</section>
<section class="container" id="registry">
    {% include registry.html %}
</section>
<section class="container" id="contact">
    {% include contact.html %}
    {% include new-contact-form.html %}
</section>
