<div class="row">
  <div class="column">
    <ul>
      <li>Music of all kinds</li>
      <li>Typography</li>
      <li>Branding</li>
      <li>Business</li>
      <li>Fast Casual Restaurants</li>
      <li>All kinds of design</li>
      <li>Cycling</li>
      <li>Late 1800s and Early 1900s American History</li>
    </ul>
  </div>
  <div class="column">
    <ul>
      <li>Movies</li>
      <li>Start-Ups</li>
      <li>Technology</li>
      <li>Computers</li>
      <li>Art</li>
      <li>Food</li>
      <li>Podcasts</li>
      <li>Product Development</li>
      <li>Marketing</li>
    </ul>
  </div>
  <div class="column">
    <ul>
      <li>Brand Experience</li>
      <li>Dinosaurs</li>
      <li>Animals</li>
      <li>Godzilla</li>
      <li>Economics</li>
      <li>Coding</li>
      <li>Advertising</li>
      <li>User Experience</li>
    </ul>
  </div>
</div>
