<div class="row">
    <div class="column">
        <h3>Location</h3>
    </div>
</div>
<div class="row">
    <div class="column">
        <h4><a href="http://hillcenterdc.org/home/">The Hill Center, Washington D.C.</a></h4>
        <blockquote>
            921 Pennsylvania Ave SE, <br>Washington, DC 20003
        </blockquote>
        <p>
            We're getting married in the historic Hill Center in Washington, DC. It's on Pennsylvania Ave, down the road from the U.S. Capital. There's even a <a href="http://www.bayoubakerydc.com/">coffee shop</a> on the grounds.
        </p>
    </div>
    <div class="column">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3105.792339487254!2d-76.99532414822873!3d38.88299267947271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b8337dbdf5b7%3A0xdf19706151bf98ed!2sHill+Center+at+the+Old+Naval+Hospital!5e0!3m2!1sen!2sus!4v1477171403554"
            width="320" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
</br>
<div class="row">
  <div class="column">
    <h4>Where to stay.</h4>
    <p>We know a lot of people like to shop around or use rewards points for their hotel stays, so we do not have a designated hotel for the wedding. We recommend staying just across the Potomac in Virginia (which is where we live). The hotels there are cheaper than those in DC.</p>
    <p>
      For choosing a hotel we recommend staying in one of two areas:
    </p>
  </div>
</div>
<div class="row">
  <div class="column">
    <h5><strong>Arlington, VA</strong></h5>
    <p>Arlington is where we live and is accessable by the <strong style="color:#FF8C00;">Orange</strong> and <strong>Silver</strong> metro lines. There are hotels near all the main metro stations (Ballston, Virginia Square, Clarendon, Courthouse, and Rosslyn stations). At least one extra get-together will be held in Arlington, close to the Clarendon metro station.</p>
  </div>
  <div class="column">
    <h5><strong>Crystal City, VA</strong></h5>
     <p>Pentagon City and Crystal City metro stations are off the <strong style="color:#0000FF;">Blue</strong> and <strong style="color:#FFD700;">Yellow</strong> lines. On the Blue and Yellow from Pentagon City/Crystal City you'll have a shorter trip to the district, but may need to change lines depending on where you want to go in DC.
    </p>
  </div>
</div>
