// About me image
.circular {
  width: 18.75rem;
  height: 18.75rem;
  margin-bottom: 2rem;
  border-radius: 9.375px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(https://raw.githubusercontent.com/DanCarvajal/dancarvajal.github.io/master/images/DanCarvajal.JPG) no-repeat;
}
