
// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$color-initial: #ffffff;
$color-primary: #ff5a5f;
$color-secondary: #4D4D4D;
$color-tertiary: #f4f5f6;
$color-quaternary: #d1d1d1;
$color-navline: #d1d1d1;
