
// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$color-initial: #ffffff;
$color-primary: #0aadef;
$color-secondary: #4D4D4D;
$color-tertiary: #f4f5f6;
$color-quaternary: #999999;
$color-navline: #d1d1d1;
