
// Link
// ––––––––––––––––––––––––––––––––––––––––––––––––––

a {
	color: $color-primary;
	text-decoration: none;
}

h1 a {
	color: $color-primary;
	text-decoration: none;
}

a:hover a:focus {
	color: $color-primary;
	text-decoration: underline;
}
